.image-1 {
  width: 370px height= 294px top= 1061px left= 215px;
}
.image-2 {
  height: 294px;
  width: 370px;
  left: 615px;
  top: 1061px;
  border-radius: 0px;
}
.image-3 {
  height: 294px;
  width: 370px;
  left: 1015px;
  top: 1061px;
  border-radius: 0px;
}
